@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
/* font-family: 'Poppins', 'sans-serif'; */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color: #666;
  max-width: 100%;
}

header {
  max-width: 100%;
}

.btn {
  color: black;
}

h1 {
  display: flex;
  justify-content: center;
}

/*Edição do input text*/
#name, #email, #cpf, #cell, #password, #password-confirmation {
  background-color: #D9D9D9;
  border-style: none;
  border-radius: 20px;
  width: 730px;
  height: 62px;
}
/*Alinhar ao centro*/
.form {
  display: flex;
  flex-direction: column;
}

img {
  width: 130px;
  height: 120px;
  border-radius: 20px;
  filter: drop-shadow(0px 15px 40px rgba(0, 0, 0, 0.25));
}
/*Alinhar ao centro*/
.submit {
  background-color: #6F6363;
  color: #FFF;
  width: 388px;
  height: 62px;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border-style: none;
}