



.desc{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

.texto{
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
}



.botoes{
    display: flex;
    justify-content: center;
    margin-top: 10px;  
    
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 52px;  
}

.search-box{
    display: flex;
    margin: 20px;
}

.lixo{
    width: 0.1rem;
    height: 0.1rem;

.input{
    padding: 10px;
}

